.chatbox-container {
    display: flex;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.sidebar {
    flex-basis: 300px;
    padding: 16px;
    background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
}

.chat-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 16px;
}

.chat-item {
    padding: 16px;
    background: linear-gradient(150deg, #726dfe, #808aac 100%, #282d39 0);
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.create-chat-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.input {
    flex-grow: 1;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 16px;
}

.button,
.delete-chat-button {
    background-color: #726dfe;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.chat-item.active {
    background-color: #726dfe;
    color: white;
}

.no-chat-selected {
    text-align: center;
    font-size: 1.2rem;
    color: #555555;
}

.message-item {
    background-color: #f5f5f5;
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.chat-window {
    flex-grow: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #7b68ee, #808aac 100%, #282d39 0);
}

.messages-container {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    max-height: 400px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 16px;
}

.messages-container::-webkit-scrollbar {
    width: 6px;
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.messages-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-form {
    display: flex;
    margin-top: 10px;
}


.my-message {
    align-self: flex-end;
    background-color:#3f51b5;
    color: white;
    border-radius: 8px;
}

.user-message {
    align-self: flex-start;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 4px;
}

.message-content {
    padding: 8px;
}
.message-form .input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    margin-right: 16px;
}

.message-form .button {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-user-form {
    display: flex;
    margin-top: 10px;
}

.add-user-form .input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    margin-right: 16px;
}

.add-user-form .button {
    background-color: #3f51b5;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
