.chatbox-container {
    max-width: 400px;
    margin: 0 auto;
}

.chat-list {
    list-style-type: none;
    padding: 0;
}

.chat-item {
    padding: 8px;
    background: linear-gradient(150deg, #d9dbe2, #808aac 100%, #282d39 0);
    border-radius: 4px;
    margin-bottom: 8px;
}

.create-chat-form,
.update-chat-form {
    display: flex;
    margin-bottom: 16px;
}

.input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
}

.button {
    background-color: #726dfe;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-chat-button {
    background-color: #726dfe;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
